Node-Red/LogFromSerial.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"49fd8b4e.b60274","type":"bean","z":"f59f6498.0a6098","name":"Bean2","uuid":"","connectiontype":"constant","connectiontimeout":"0"\},\{"id":"a832a95.f57cd58","type":"bean","z":"f59f6498.0a6098","name":"Bean1","uuid":"","connectiontype":"constant","connectiontimeout":"0"\},\{"id":"db026a0e.24fd98","type":"bean serial","z":"f59f6498.0a6098","name":"Read from Serial (Temp/Light Sensor)","bean":"a832a95.f57cd58","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":175,"y":99,"wires":[["258a63b2.da759c"]]\},\{"id":"f57ea49b.0a8158","type":"file","z":"f59f6498.0a6098","name":"","filename":"TempLightLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":483.50006103515625,"y":252,"wires":[]\},\{"id":"258a63b2.da759c","type":"function","z":"f59f6498.0a6098","name":"Add Date/Timestamp","func":"\\nvar now     = new Date(); \\nvar year    = now.getFullYear();\\nvar month   = now.getMonth()+1; \\nvar day     = now.getDate();\\nvar hour    = now.getHours();\\nvar minute  = now.getMinutes();\\nvar second  = now.getSeconds(); \\nif(month.toString().length == 1) \{\\nvar month = '0'+month;\\n\}\\nif(day.toString().length == 1) \{\\nvar day = '0'+day;\\n\}   \\nif(hour.toString().length == 1) \{\\nvar hour = '0'+hour;\\n\}\\nif(minute.toString().length == 1) \{\\nvar minute = '0'+minute;\\n\}\\nif(second.toString().length == 1) \{\\nvar second = '0'+second;\\n\}   \\nmsg.timestamp = year+'-'+month+'-'+day+', '+hour+':'+minute+':'+second;\\n\\nmsg.payload = \\n\\t\{\\n\\tserial:msg.payload,\\n\\ttimestamp:msg.timestamp\\n\\t\}\\n\\t\\nreturn msg;","outputs":"1","noerr":0,"x":180.5001220703125,"y":164,"wires":[["a2af770.f5d5088"]]\},\{"id":"a2af770.f5d5088","type":"csv","z":"f59f6498.0a6098","name":"Format CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\\\n","temp":"serial , timestamp","x":261.05560302734375,"y":252,"wires":[["f57ea49b.0a8158","a813d380.57ec3"]]\},\{"id":"a813d380.57ec3","type":"debug","z":"f59f6498.0a6098","name":"","active":true,"console":"false","complete":"payload","x":474.5,"y":290,"wires":[]\},\{"id":"e957edfe.16a81","type":"bean serial","z":"f59f6498.0a6098","name":"Read from Serial (Moisture Sensor)","bean":"49fd8b4e.b60274","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":164,"y":379,"wires":[["a2f64b7c.5d09b8"]]\},\{"id":"f9b19d91.064e6","type":"file","z":"f59f6498.0a6098","name":"","filename":"MoistureLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":497.50006103515625,"y":524,"wires":[]\},\{"id":"a2f64b7c.5d09b8","type":"function","z":"f59f6498.0a6098","name":"Add Date/Timestamp","func":"\\nvar now     = new Date(); \\nvar year    = now.getFullYear();\\nvar month   = now.getMonth()+1; \\nvar day     = now.getDate();\\nvar hour    = now.getHours();\\nvar minute  = now.getMinutes();\\nvar second  = now.getSeconds(); \\nif(month.toString().length == 1) \{\\nvar month = '0'+month;\\n\}\\nif(day.toString().length == 1) \{\\nvar day = '0'+day;\\n\}   \\nif(hour.toString().length == 1) \{\\nvar hour = '0'+hour;\\n\}\\nif(minute.toString().length == 1) \{\\nvar minute = '0'+minute;\\n\}\\nif(second.toString().length == 1) \{\\nvar second = '0'+second;\\n\}   \\nmsg.timestamp = year+'-'+month+'-'+day+', '+hour+':'+minute+':'+second;\\n\\nmsg.payload = \\n\\t\{\\n\\tserial:msg.payload,\\n\\ttimestamp:msg.timestamp\\n\\t\}\\n\\t\\nreturn msg;","outputs":"1","noerr":0,"x":194.5001220703125,"y":436,"wires":[["f3d7403d.0c28c"]]\},\{"id":"f3d7403d.0c28c","type":"csv","z":"f59f6498.0a6098","name":"Format CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\\\n","temp":"serial , timestamp","x":275.05560302734375,"y":524,"wires":[["f9b19d91.064e6","dc6fd15b.23903"]]\},\{"id":"dc6fd15b.23903","type":"debug","z":"f59f6498.0a6098","name":"","active":true,"console":"false","complete":"payload","x":488.5,"y":562,"wires":[]\}]}