Node-Red/LogFromSerial.txt
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"8a5a28ae.75a5d8","type":"bean","z":"30aacf65.cf553","name":"Bean1","uuid":"","connectiontype":"constant","connectiontimeout":"0"\},\{"id":"893af1d1.76c51","type":"bean serial","z":"30aacf65.cf553","name":"Read from Serial","bean":"8a5a28ae.75a5d8","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":108,"y":97,"wires":[["7d568947.82a978"]]\},\{"id":"ee9991f4.11667","type":"file","z":"30aacf65.cf553","name":"","filename":"TempLightLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":488.50006103515625,"y":268,"wires":[]\},\{"id":"7d568947.82a978","type":"function","z":"30aacf65.cf553","name":"Add Date/Timestamp","func":"\\nvar now     = new Date(); \\nvar year    = now.getFullYear();\\nvar month   = now.getMonth()+1; \\nvar day     = now.getDate();\\nvar hour    = now.getHours();\\nvar minute  = now.getMinutes();\\nvar second  = now.getSeconds(); \\nif(month.toString().length == 1) \{\\nvar month = '0'+month;\\n\}\\nif(day.toString().length == 1) \{\\nvar day = '0'+day;\\n\}   \\nif(hour.toString().length == 1) \{\\nvar hour = '0'+hour;\\n\}\\nif(minute.toString().length == 1) \{\\nvar minute = '0'+minute;\\n\}\\nif(second.toString().length == 1) \{\\nvar second = '0'+second;\\n\}   \\nmsg.timestamp = year+'-'+month+'-'+day+', '+hour+':'+minute+':'+second;\\n\\nmsg.payload = \\n\\t\{\\n\\tserial:msg.payload,\\n\\ttimestamp:msg.timestamp\\n\\t\}\\n\\t\\nreturn msg;","outputs":"1","noerr":0,"x":185.5001220703125,"y":180,"wires":[["f1ffa14b.0e006"]]\},\{"id":"f1ffa14b.0e006","type":"csv","z":"30aacf65.cf553","name":"Format CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\\\n","temp":"serial , timestamp","x":266.05560302734375,"y":268,"wires":[["ee9991f4.11667","fc03b73f.03fc48"]]\},\{"id":"fc03b73f.03fc48","type":"debug","z":"30aacf65.cf553","name":"","active":true,"console":"false","complete":"payload","x":479.5,"y":306,"wires":[]\}]}