Node-Red/LogFromSerial.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf340
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"14230480.ebdcfc","type":"bean","z":"21896b90.de7694","name":"SoilBean","uuid":"","connectiontype":"constant","connectiontimeout":"0"\},\{"id":"641cbe24.9be34","type":"bean","z":"21896b90.de7694","name":"LiteBean","uuid":"","connectiontype":"constant","connectiontimeout":"0"\},\{"id":"8dc8c6ca.723738","type":"bean serial","z":"21896b90.de7694","name":"Read from Serial (Temp/Light Sensor)","bean":"641cbe24.9be34","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":166,"y":142,"wires":[["8a881461.7577e8"]]\},\{"id":"295100.ffd6af","type":"file","z":"21896b90.de7694","name":"","filename":"TempLightLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":474.50006103515625,"y":295,"wires":[]\},\{"id":"8a881461.7577e8","type":"function","z":"21896b90.de7694","name":"Add Date/Timestamp","func":"\\nvar now     = new Date(); \\nvar year    = now.getFullYear();\\nvar month   = now.getMonth()+1; \\nvar day     = now.getDate();\\nvar hour    = now.getHours();\\nvar minute  = now.getMinutes();\\nvar second  = now.getSeconds(); \\nif(month.toString().length == 1) \{\\nvar month = '0'+month;\\n\}\\nif(day.toString().length == 1) \{\\nvar day = '0'+day;\\n\}   \\nif(hour.toString().length == 1) \{\\nvar hour = '0'+hour;\\n\}\\nif(minute.toString().length == 1) \{\\nvar minute = '0'+minute;\\n\}\\nif(second.toString().length == 1) \{\\nvar second = '0'+second;\\n\}   \\nmsg.timestamp = year+'-'+month+'-'+day+', '+hour+':'+minute+':'+second;\\n\\nmsg.payload = \\n\\t\{\\n\\tserial:msg.payload,\\n\\ttimestamp:msg.timestamp\\n\\t\}\\n\\t\\nreturn msg;","outputs":"1","noerr":0,"x":171.5001220703125,"y":207,"wires":[["d871b321.278e5"]]\},\{"id":"d871b321.278e5","type":"csv","z":"21896b90.de7694","name":"Format CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\\\n","temp":"serial , timestamp","x":252.05560302734375,"y":295,"wires":[["295100.ffd6af","4fa3b42b.b05c4c"]]\},\{"id":"4fa3b42b.b05c4c","type":"debug","z":"21896b90.de7694","name":"","active":true,"console":"false","complete":"payload","x":465.5,"y":333,"wires":[]\},\{"id":"a050df88.5faf2","type":"bean serial","z":"21896b90.de7694","name":"Read from Serial (Moisture Sensor)","bean":"14230480.ebdcfc","newline":"\\\\n","bin":"false","out":"char","addchar":false,"x":151,"y":406,"wires":[["832eb29.f7cd15"]]\},\{"id":"6bff0fbd.9400f","type":"file","z":"21896b90.de7694","name":"","filename":"MoistureLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":484.50006103515625,"y":551,"wires":[]\},\{"id":"832eb29.f7cd15","type":"function","z":"21896b90.de7694","name":"Add Date/Timestamp","func":"\\nvar now     = new Date(); \\nvar year    = now.getFullYear();\\nvar month   = now.getMonth()+1; \\nvar day     = now.getDate();\\nvar hour    = now.getHours();\\nvar minute  = now.getMinutes();\\nvar second  = now.getSeconds(); \\nif(month.toString().length == 1) \{\\nvar month = '0'+month;\\n\}\\nif(day.toString().length == 1) \{\\nvar day = '0'+day;\\n\}   \\nif(hour.toString().length == 1) \{\\nvar hour = '0'+hour;\\n\}\\nif(minute.toString().length == 1) \{\\nvar minute = '0'+minute;\\n\}\\nif(second.toString().length == 1) \{\\nvar second = '0'+second;\\n\}   \\nmsg.timestamp = year+'-'+month+'-'+day+', '+hour+':'+minute+':'+second;\\n\\nmsg.payload = \\n\\t\{\\n\\tserial:msg.payload,\\n\\ttimestamp:msg.timestamp\\n\\t\}\\n\\t\\nreturn msg;","outputs":"1","noerr":0,"x":181.5001220703125,"y":463,"wires":[["ebd17285.142e9"]]\},\{"id":"ebd17285.142e9","type":"csv","z":"21896b90.de7694","name":"Format CSV","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\\\n","temp":"serial , timestamp","x":262.05560302734375,"y":551,"wires":[["6bff0fbd.9400f","5effc8a9.a10038"]]\},\{"id":"5effc8a9.a10038","type":"debug","z":"21896b90.de7694","name":"","active":true,"console":"false","complete":"payload","x":475.5,"y":589,"wires":[]\}]}